.news-ticker span {
  display: inline-block;
  white-space: nowrap;
  color: black;
  animation: ticker 120s linear infinite;
  animation-delay: -54s;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}